*.swo
*.swp
*~
listings
ometa/*.js
temp.js
benchmarks/sunspider
deps
perf/loc.txt
photon-js.js
results/baseline/sunspider/memory/
results/baseline/sunspider/time/Photon.txt
results/baseline/sunspider/time/SpiderMonkey.txt
results/baseline/sunspider/time/V8.txt
results/baseline/v8/memory/
results/baseline/v8/time/Photon.txt
results/baseline/v8/time/SpiderMonkey.txt
results/baseline/v8/time/V8.txt
results/instrumented/

